html,
body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

header > img {
  width: 2.5em;
  height: 2.5em;
  margin: 1.2em;
}

#logo {
  width: 5.25rem;
  margin: 1.2em 0;
}

.main {
  position: relative;
  background-color: #ffffff;
  padding: 0 0.25em;

}

#dog-image {
  width: 100%;
  border-radius: 15px;
  background: #ffffff;
}

button {
  border: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: #f8f8f8;
  bottom: 30px;
}

p {
  font-weight: 400;
  line-height: 15px;
  font-size: 1rem;
  color: #b7b7b7;
  bottom: 3px;
}

h1,
h2,
p {
  font-style: normal;
  position: absolute;
  left: 25px;
}

h2 {
  color: #f8f8f8;
  font-size: 2rem;
  top: -20px;
}

.footer {
  display: flex;
  justify-content: center;
  background: #ffffff;
}

#heart,
#cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.75em;
  height: 5.75em;
  margin: 1.8em 3vw;
  border-radius: 50%;
}

button {
  background: #ffffff;
  box-shadow: 0px 10px 20px #e9e9ea;
}
#heart,
#cross:hover {
  cursor: pointer;
}

button.liked {
  background: #dbfff4;
  box-shadow: 0px 10px 20px #ccf1e6;
}

button.rejected {
  background: #ffe7ef;
  box-shadow: 0px 10px 20px #edd9df;
}

.like, .nope {
  width: 40%;
  position: absolute;
  top: 40px;
  left: 30px;
  transform: rotate(-30deg);
  font-size: 1rem;
}


.hidden {
  display: none;
}

@media (min-width: 600px) {
  .main {
    padding: unset;
  }
  
  body,
  .main,
  header,
  .footer {
    width: 60%;
    margin: 0 auto;
  }
  #dog-image {
    width: 96%;
    margin: 0 auto;
    display: block;
  }
}
